/* Arrière-plan semi-transparent */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   z-index: 2000;
}

/* Fenêtre principale */
.modal-content {
   background: #fff;
   border-radius: 10px;
   width: 700px;
   padding: 2rem 2rem 1rem;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: stretch;
}

/* Titre */
.modal-title {
   margin: 0;
   font-size: 1.5rem;
   font-weight: 700;
   color: #333;
   text-align: center;
}

/* Ligne de séparation */
.divider {
   border: none;
   border-top: 1px solid #ddd;
   margin: 1rem 0;
}

/* Formulaire */
.login-form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.login-form label,
label {
   text-align: justify;
}

.login-form input {
   margin-top: 0.3rem;
   padding: 0.6rem;
   border-radius: 6px;
   border: 1px solid #ccc;
   font-size: 1rem;
   transition: border-color 0.2s, background-color 0.2s;
}

/* Champ d’erreur */
.login-form input.error {
   border-color: #e63946;
   background-color: #ffe6e6;
}

/* Message d’erreur */
.error-message {
   height: 1.2rem;
   color: #e63946;
   font-size: 0.9rem;
   text-align: center;
   margin: 0.3rem 0 -0.3rem;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.2s ease-in-out;
}

/* Quand erreur visible */
.modal-content.shake .error-message {
   visibility: visible;
   opacity: 1;
}

/* Section des boutons bas */
.modal-actions {
   display: flex;
   justify-content: space-between;
   margin-top: 1rem;
}

/* Boutons */
.cancel-btn,
.supp-btn {
   padding: 0.6rem 1.2rem;
   border-radius: 6px;
   font-weight: 600;
   cursor: pointer;
   transition: background-color 0.2s;
}

/* Bouton Annuler */
.cancel-btn {
   background: #f5f5f5;
   border: 1px solid #ccc;
   color: #333;
}

.cancel-btn:hover {
   background: #e4e4e4;
}

/* Bouton Suppression */
.supp-btn {
   background: #ff0000;
   border: none;
   color: white;
}

.supp-btn:hover {
   background: #b30000;
}

@keyframes modalPop {
   0% {
      opacity: 0;
      transform: scale(0.9);
   }

   100% {
      opacity: 1;
      transform: scale(1);
   }
}

.modal-content {
   animation: modalPop 0.25s ease-out;
}